<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <ion-list *ngFor="let item of (store.state$ | async).items">
        <app-items [item]="item"></app-items>
      </ion-list>
    </ion-card-content>

    <button
      ion-button
      *ngIf="store.state.currentPage > 0"
      (click)="store.fetchList(category, store.state.currentPage - 1)"
    >
      Prev
    </button>
    <button ion-button (click)="store.fetchList(category, store.state.currentPage + 1)">Next</button>
  </ion-card>
</ion-content>
