<ion-card text-center>
  <ion-card-content>
    <form [formGroup]="categoryAddForm">
      <ion-item>
        <ion-label>Category Name:</ion-label>
        <ion-input formControlName="categoryName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Label:</ion-label>
        <ion-input formControlName="label"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Language:</ion-label>
        <ion-input formControlName="language"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>wdt:</ion-label>
        <ion-input formControlName="wdt"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>wd:</ion-label>
        <ion-input formControlName="wd"></ion-input>
      </ion-item>
    </form>
  </ion-card-content>

  <ion-footer>
    <ion-toolbar>
      <ion-button color="primary" class="left_button" (click)="performLoad()" slot="start">Load</ion-button>
      <ion-button color="primary" class="right_button" (click)="performSave()" slot="end">Save</ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-card>

<ion-card *ngIf="wikidataItemList">
  <ion-header>
    <ion-toolbar>
      <span slot="start" *ngIf="category" class="ion-margin">Wikidata list {{ wikidataItemList.length }}</span>
      <span slot="end" class="ion-margin" (click)="onWikidataToggle()">
        <span *ngIf="wikidataToggle">
          <ion-icon name="remove-outline"></ion-icon>
        </span>
        <span *ngIf="!wikidataToggle">
          <ion-icon name="add-outline"></ion-icon>
        </span>
      </span>
      <ion-item *ngIf="!category">
        <span class="instructions ion-margin">
          Tap load to get a list of items from Wikipedia and Wikidata. Choose save to create the category and view the
          list and view the details to edit the descriptions if you want.
        </span>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-card-content *ngIf="wikidataToggle">
    <ion-item *ngFor="let item of wikidataItemList">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-float-left">
            <span class="label"
              ><a href="{{ item[category.name].value }}"> {{ item[category.name + 'Label'].value }}</a>
            </span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-float-right" *ngIf="item[category.name + 'Description']">
            <p class="description">{{ item[category.name + 'Description'].value }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item *ngIf="!category">
      Tap load to get a list of items from Wikipedia and Wikidata. Choose save to create the category and view the list
      and view the details to edit the descriptions if you want.
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="wikiListItems.length > 0">
  <ion-header>
    <ion-toolbar>
      <span slot="start" class="ion-margin">Wikipedia list {{ wikiListItems.length }}</span>
      <span slot="end" class="ion-margin" (click)="onWikiListItemsToggle()">
        <span *ngIf="wikiListItemsToggle">
          <ion-icon name="remove-outline"></ion-icon>
        </span>
        <span *ngIf="!wikiListItemsToggle">
          <ion-icon name="add-outline"></ion-icon>
        </span>
      </span>
    </ion-toolbar>
  </ion-header>
  <ion-card-content *ngIf="wikiListItemsToggle">
    <ion-item *ngFor="let item of wikiListItems">
      <ion-grid>
        <ion-row>
          <ion-col class="ion-float-left">
            <span class="label">{{ item.label }}</span>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-float-right">
            <p class="description">{{ item.description }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card-content>
</ion-card>
