.left_button {
  margin-left: 10px;
}
.right_button {
  margin-right: 10px;
}
.label {
  white-space: nowrap;
  padding: 7px;
  text-transform: uppercase;
}
.description {
  font-weight: 400;
  font-size: small;
}
p::first-letter {
  font-weight: bold;
  color: red;
  text-transform: capitalize;
}
.instructions {
  color: gray;
  font-weight: 100;
}
