:root {
  /*************************** Page-wide variables ****************************/

  /* Base spacing unit. */
  --spacing-unit: 6px;

  /* Margin size. No unit, because it's a multiple of the spacing unit. */
  --margins: 2;

  /* Colors. */
  --primary-color: --ion-color-primary;
  --primary-color-text: #fff;

  /* Number of columns to show. */
  --grid-columns: 3;

  /* borders */
  --border-width: 0;
  --border-radius: 0;

  /***************************** Calculated values ****************************/

  /* We don't use calc here because we don't want to resolve the values yet.
       You can think of these as simple textual replacements. */

  /* The size of the margin around the card grid. */

  --margin-size: (var(--margins) * 2);

  /* How much internal padding each cell should have */
  --cell-padding: (4 * var(--spacing-unit));

  /* How big the space between cells should be */
  --grid-gutter: (var(--margins) * var(--spacing-unit));

  /* How big the space should be around the grid */
  --grid-margin: (var(--margin-size) * var(--spacing-unit));

  /* Calculated cell margin */
  --cell-margin: (var(--grid-gutter) / 2);
}

.grid {
  justify-content: center;
}

ion-item {
  border: none;
}
ion-card {
  border-radius: calc(var(--border-radius) * 2);
  border: var(--border-width) solid var(--ion-color-tertiary);
}
swiper-pagination swiper-pagination-bullets {
  bottom: -1px;
}
.swiper-container {
  height: 100%;
}
.ion-float-right {
  position: relative;
  top: 10px;
  left: 35%;
}
.dark-contrast {
  color: var(--ion-color-light);
}
.primary-bg {
  background-color: var(--primary-color);
}
.primary-tint-bg {
  background-color: var(--ion-color-primary-tint);
}
.primary-shade-bg {
  background-color: var(--ion-color-primary-shade);
}

.top-header {
  display: block;
  position: relative;
  height: calc(28 * var(--spacing-unit));

  /* Use a default value for the background color, by passing it in as the 2nd
       parameter to var(). We don't strictly need it in this case, since we've
       defined it at the document level, but this illustrates common usage. */
  background-color: var(--primary-color, #5e35b1);
  padding-left: calc(4 * var(--spacing-unit));
  transition: background-color 1s;
}

.title {
  position: relative;
  top: calc(8 * var(--spacing-unit));
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(4 * var(--spacing-unit));
  font-weight: 400;
  color: var(--primary-color-text);
  transition: color 1s;
}

.shade {
  display: block;
  box-sizing: border-box;
  position: absolute;
  padding-left: calc(1 * var(--spacing-unit));
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(8 * var(--spacing-unit));
  background-color: rgba(0, 0, 0, 0.2);
}

.grid {
  border: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  margin: calc(var(--grid-margin) - var(--cell-margin));
  background-color: var(--grid-color);
}

.cell {
  font-family: Roboto, Helvetica, sans-serif;
  color: rgb(97, 97, 97);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: var(--grid-gutter);
  background-color: var(--cell-color);
  width: calc(100% / var(--grid-columns) - var(--grid-gutter));
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: calc(var(--border-radius) * 2);
  border: var(--border-width) solid var(--ion-color-tertiary);
}

.cell-title {
  color: var(--ion-color-secondary-contrast);
  font-size: calc(3 * var(--spacing-unit));
  padding: calc(3 * var(--spacing-unit));
}

.cell-header {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  display: flex;
  align-items: center;
  color: var(--ion-color-primary-contrast);
  box-sizing: border-box;
  background-color: var(--ion-color-primary);
  padding-left: calc(var(--cell-padding));
  height: calc(12 * var(--spacing-unit));
}

.cell-content {
  font-size: calc(2.5 * var(--spacing-unit));
  padding: calc(var(--cell-padding));
  padding: calc(3 * var(--spacing-unit));
  flex-grow: 1;
}

.cell-actions {
  padding: calc(2 * var(--spacing-unit));
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.picker-button {
  position: relative;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(2 * var(--spacing-unit));
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  color: var(--primary-color);
  padding: calc(2 * var(--spacing-unit));
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.picker-button:focus {
  outline: none;
}

.picker-button:active {
  background-color: #ddd;
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4px;
  right: 4px;
  font-family: sans-serif;
  font-size: 12px;
  padding: 8px;
  background-color: rgba(200, 200, 200, 0.8);
}

.control {
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
}

.control-key {
  flex-grow: 1;
  margin-right: 16px;
}

.control-value {
  width: 152px;
}
