a {
  color: #000;
  text-decoration: none;
}

.description_exists {
  position: absolute;
  right: 3px;
}

.sliding_item_description {
  margin-top: -7px;
  padding: 3px;
}

.item-label {
  // transform: translate3d(-589px, 0px, 0px);
}

.item-sliding-active-slide .item {
  // gap to next item
  height: 60px;
  .item-label {
    height: 60px;
  }
  ion-item-options {
    height: 60px;
  }
  .ion-item-options {
    height: 150%;
  }
  .sliding_item_description {
    // interrior text
    margin-top: 7px;
  }
}
