<ion-item-sliding>
  <ion-item>
    <ion-item-options side="end" *ngIf="item.description">
      <ion-item-option color="secondary">
        {{ item.description }}
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end" *ngIf="item.metaData['user-description']">
      <ion-item-option color="secondary">
        {{ item.metaData['user-description'] }}
      </ion-item-option>
    </ion-item-options>
    <ion-label (click)="gotoItemDetails(item)">
      {{ item.label | titlecase }}
      <span class="description_exists" *ngIf="item.description || item.metaData['user-description']">
        >
      </span>
    </ion-label>
  </ion-item>
</ion-item-sliding>
