<ion-item-sliding>
  <ion-item>
    <ion-item-options side="end" *ngIf="item.description">
      <ion-item-option color="secondary" class="sliding_item_description">
        {{ item.description }}
      </ion-item-option>
    </ion-item-options>
    <ion-item-options side="end" *ngIf="item.metaData && item.metaData['userDescription']">
      <ion-item-option color="secondary">
        {{ item.metaData['userDescription'] }}
      </ion-item-option>
    </ion-item-options>
    <ion-label (click)="gotoItemDetails(item)">
      {{ item.label | titlecase }}
      <span class="description_exists" *ngIf="item.description || (item.metaData && item.metaData['userDescription'])">
        >
      </span>
    </ion-label>
  </ion-item>
</ion-item-sliding>
