<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Categories</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card text-center>
    <ion-card-content>
      <ion-list *ngFor="let category of (store.state$ | async).categories">
        <categories-category [category]="category"></categories-category>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
