<ion-item color="light">
  <ion-card class="card ion-text-center" *ngIf="itemDetails">
    <ion-card-content>
      <ion-card-header>
        <h2 *ngIf="itemDetails.sitelinks && itemDetails.sitelinks[language + 'wiki']; else noLinkTitle">
          1
          {{ itemDetails | json }}
        </h2>
        <ng-template #noLinkTitle>
          <a
            *ngIf="language && itemDetails['uri']"
            href="{{ 'https://' + language + '.wikipedia.org' + itemDetails['uri'] }}"
          >
            <h1>{{ labelStr }}</h1></a
          >
        </ng-template>
      </ion-card-header>
      <div *ngIf="itemDetails.aliases && itemDetails.aliases[language] && itemDetails.aliases[language].length > 0">
        Aliases:
        <span *ngFor="let alias of itemDetails.aliases[language]; let i = index">
          {{ alias.value }}<span *ngIf="i < itemDetails.aliases[language].length - 1">,</span>
        </span>
      </div>
      <app-description-form
        (descriptionUpdated)="onDescriptionUpdated($event)"
        [itemDetails]="itemDetails"
        [language]="language"
        [userDescription]="itemDetails.userDescription"
      ></app-description-form>
    </ion-card-content>
  </ion-card>
</ion-item>
<ion-card [ngClass]="{ wikimedia_description_card: wikimediaDescriptionToggle }">
  <ion-card-header class="wikimedia_description_title">
    <ion-toolbar>
      <ion-card-title slot="start" (click)="toggleDescription()">Wikimedia Description</ion-card-title>
    </ion-toolbar>
  </ion-card-header>
  <ion-card-content [ngClass]="{ wikimedia_description_content: wikimediaDescriptionToggle }">
    <textarea class="description_container">{{ wikimediaDescription }}</textarea>
  </ion-card-content>
</ion-card>
<ion-card>
  <!-- <img src="./madison.jpg" /> -->
  <ion-card-header>
    <ion-card-title>Wikipedia Description</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description_container" descriptionDirective [innerHTML]="wikipediaDescription"></p>
  </ion-card-content>
</ion-card>
