<ion-item color="light">
  <ion-card class="card ion-text-center" *ngIf="itemDetails">
    <ion-card-content *ngIf="itemDetails.labels[language]">
      <ion-card-header>
        <p *ngIf="itemDetails.sitelinks[language + 'wiki']; else noLinkTitle">
          <a href="{{ itemDetails.sitelinks[language + 'wiki']['url'] }}">
            {{ itemDetails.sitelinks[language + 'wiki']['title'] }}</a
          >
        </p>
        <ng-template #noLinkTitle>
          <p class="title_no_link" *ngIf="itemDetails.labels[language]">
            {{ itemDetails.labels[language]['value'] }}
          </p>
        </ng-template>
      </ion-card-header>
      <div *ngIf="itemDetails.aliases && itemDetails.aliases.length > 0">
        Aliases:
        <div *ngFor="let alias of itemDetails.aliases[language]">
          {{ alias.value }}
        </div>
      </div>
      <app-description-form
        (descriptionUpdated)="descriptionUpdated($event)"
        [itemDetails]="itemDetails"
        [language]="language"
        [description]="description"
        [userDescription]="itemDetails.userDescription"
      ></app-description-form>
      <p>Modified: {{ itemDetails.modified | date: 'medium' }}</p>
    </ion-card-content>
  </ion-card>
</ion-item>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Wikimedia Description</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description_container">{{ wikimediaDescription }}</p>
  </ion-card-content>
</ion-card>
<ion-card>
  <!-- <img src="./madison.jpg" /> -->
  <ion-card-header>
    <ion-card-subtitle></ion-card-subtitle>
    <ion-card-title>Wikipedia Description</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="description_container" descriptionDirective [innerHTML]="description"></p>
  </ion-card-content>
</ion-card>
