ion-item {
  cursor: pointer;
  border-color: none;
  background-color: var(--light);
}
ion-card-header {
  font-weight: bold;
}
ion-card-content {
  .mbox-text-span {
    display: none;
  }
}
table.box-More_citations_needed {
  display: none;
}
.references {
  display: none;
}

.title_no_link::first-letter {
  text-transform: uppercase;
}
