<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>About</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-text-center">
    <ion-card-content>
      <ion-card-title translate>APP_NAME</ion-card-title>
      <p><ion-icon name="code"></ion-icon> <span translate>Version</span> {{ version }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      Have an issue, feature request or comment about the app?
      <div>
        <a href="https://github.com/timofeysie/khipu/issues">
          Please file an issue on the project page.
        </a>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
