<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><span translate>Add new Category</span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-add-category
    [categoryAddForm]="categoryForm"
    [wikidataItemList]="(store.state$ | async).wikidataItemList"
    [wikiListItems]="(store.state$ | async).wikiListItems"
    (onPerformLoad)="loadNewCategory($event)"
    (onPerformSave)="store.saveNewCategory($event)"
  ></app-add-category>
</ion-content>
